<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="whoperative">
            <h2><span>Whoperative</span> {{ whoperative.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ whoperative.name }}</span>
                </dd>
                <dt><span>Surname</span></dt>
                <dd>
                    <span>{{ whoperative.surname }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ whoperative.user?.login }}
                </dd>
                <dt><span>Orderreceipt</span></dt>
                <dd>
                    <span *ngFor="let orderreceipt of whoperative.orderreceipts; let last = last">
                        <a [routerLink]="['/order-receipt', orderreceipt?.id, 'view']">{{ orderreceipt.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/whoperative', whoperative.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
