<div>
    <h2 id="page-heading">
        <span>Whoperatives</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-whoperative" [routerLink]="['/whoperative/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Whoperative
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="whoperatives?.length === 0">
        <span>No whoperatives found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="whoperatives && whoperatives.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Surname</span></th>
                    <th scope="col" ><span>User</span></th>
                    <th scope="col" ><span>Orderreceipt</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let whoperative of whoperatives ;trackBy: trackId">
                    <td><a [routerLink]="['/whoperative', whoperative.id, 'view']">{{ whoperative.id }}</a></td>
                    <td>{{ whoperative.name }}</td>
                    <td>{{ whoperative.surname }}</td>
                    <td>
                        {{ whoperative.user?.login }}
                    </td>
                    <td>
                        <span *ngFor="let orderreceipt of whoperative.orderreceipts; let last = last">
                            <a class="form-control-static" [routerLink]="['/order-receipt', orderreceipt?.id, 'view']">{{ orderreceipt.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/whoperative', whoperative.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/whoperative', whoperative.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(whoperative)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
