<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-item-heading">Create or edit a Item</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_itemName">Item Name</label>
                    <input type="text" class="form-control" name="itemName" id="field_itemName"
                           formControlName="itemName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_itemWeight">Item Weight</label>
                    <input type="number" class="form-control" name="itemWeight" id="field_itemWeight"
                           formControlName="itemWeight"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_itemVolume">Item Volume</label>
                    <input type="number" class="form-control" name="itemVolume" id="field_itemVolume"
                           formControlName="itemVolume"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                           formControlName="location"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_itemlist">Itemlist</label>
                    <select class="form-control" id="field_itemlist" name="itemlist" formControlName="itemlist">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="itemListOption.id === editForm.get('itemlist')!.value?.id ? editForm.get('itemlist')!.value : itemListOption" *ngFor="let itemListOption of itemlists; trackBy: trackById">{{ itemListOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_whoperative">Whoperative</label>
                    <select class="form-control" id="field_whoperative" name="whoperative" formControlName="whoperative">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="whoperativeOption.id === editForm.get('whoperative')!.value?.id ? editForm.get('whoperative')!.value : whoperativeOption" *ngFor="let whoperativeOption of whoperatives; trackBy: trackById">{{ whoperativeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
