<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span>Item</span> {{ item.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Item Name</span></dt>
                <dd>
                    <span>{{ item.itemName }}</span>
                </dd>
                <dt><span>Item Weight</span></dt>
                <dd>
                    <span>{{ item.itemWeight }}</span>
                </dd>
                <dt><span>Item Volume</span></dt>
                <dd>
                    <span>{{ item.itemVolume }}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <span>{{ item.location }}</span>
                </dd>
                <dt><span>Itemlist</span></dt>
                <dd>
                    <div *ngIf="item.itemlist">
                        <a [routerLink]="['/item-list', item.itemlist?.id, 'view']">{{ item.itemlist?.id }}</a>
                    </div>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="item.client">
                        <a [routerLink]="['/client', item.client?.id, 'view']">{{ item.client?.id }}</a>
                    </div>
                </dd>
                <dt><span>Whoperative</span></dt>
                <dd>
                    <div *ngIf="item.whoperative">
                        <a [routerLink]="['/whoperative', item.whoperative?.id, 'view']">{{ item.whoperative?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
