<div class="row justify-content-center">
    <div class="col-8" *ngIf="account">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-receipt-heading">Create or edit a Order Receipt</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalItemCount">Total Item Count</label>
                    <input type="number" class="form-control" name="totalItemCount" id="field_totalItemCount"
                           formControlName="totalItemCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalOrderWeight">Total Order Weight</label>
                    <input type="number" class="form-control" name="totalOrderWeight" id="field_totalOrderWeight"
                           formControlName="totalOrderWeight"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalOrderVolume">Total Order Volume</label>
                    <input type="number" class="form-control" name="totalOrderVolume" id="field_totalOrderVolume"
                           formControlName="totalOrderVolume"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_manager">Manager</label>
                    <select class="form-control" id="field_manager" name="manager" formControlName="manager">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="managerOption.id === editForm.get('manager')!.value?.id ? editForm.get('manager')!.value : managerOption" *ngFor="let managerOption of managers; trackBy: trackById">{{ managerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
