<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderReceipt">
            <h2><span>Order Receipt</span> {{ orderReceipt.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Total Item Count</span></dt>
                <dd>
                    <span>{{ orderReceipt.totalItemCount }}</span>
                </dd>
                <dt><span>Total Order Weight</span></dt>
                <dd>
                    <span>{{ orderReceipt.totalOrderWeight }}</span>
                </dd>
                <dt><span>Total Order Volume</span></dt>
                <dd>
                    <span>{{ orderReceipt.totalOrderVolume }}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="orderReceipt.client">
                        <a [routerLink]="['/client', orderReceipt.client?.id, 'view']">{{ orderReceipt.client?.name }}</a>
                    </div>
                </dd>
                <dt><span>Manager</span></dt>
                <dd>
                    <div *ngIf="orderReceipt.manager">
                        <a [routerLink]="['/manager', orderReceipt.manager?.id, 'view']">{{ orderReceipt.manager?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-receipt', orderReceipt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
