<div>
    <h2 id="page-heading">
        <span>Order Receipts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-receipt" [routerLink]="['/order-receipt/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Order Receipt
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orderReceipts?.length === 0">
        <span>No orderReceipts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orderReceipts && orderReceipts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalItemCount"><span>Total Item Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalOrderWeight"><span>Total Order Weight</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalOrderVolume"><span>Total Order Volume</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalOrderVolume"><span>qq</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="client.id"><span>Client</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="manager.id"><span>Manager</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let orderReceipt of orderReceipts ;trackBy: trackId">
                    <td><a [routerLink]="['/order-receipt', orderReceipt.id, 'view']">{{ orderReceipt.id }}</a></td>
                    <td>{{ orderReceipt.totalItemCount }}</td>
                    <td>{{ orderReceipt.totalOrderWeight }}</td>
                    <td>{{ orderReceipt.totalOrderVolume }}</td>
                    <td>
                        <div>
                            <a [routerLink]="['/order-list', orderReceipt?.id]">
                                View item list
                            </a>
                            <a  [routerLink]="['/order-list', orderReceipt?.id, 'add-new-list']">
                                Create new item list
                            </a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orderReceipt.client">
                            <a [routerLink]="['/client', orderReceipt.client?.id, 'view']" >{{ orderReceipt.client?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orderReceipt.manager">
                            <a [routerLink]="['/manager', orderReceipt.manager?.id, 'view']" >{{ orderReceipt.manager?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order-receipt', orderReceipt.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order-receipt', orderReceipt.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orderReceipt)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
