<div>
    <h2 id="page-heading">
        <span>Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item" [routerLink]="['/item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="items?.length === 0">
        <span>No items found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="items && items.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemName"><span>Item Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemWeight"><span>Item Weight</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemVolume"><span>Item Volume</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="location"><span>Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemlist.id"><span>Itemlist</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="client.id"><span>Client</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="whoperative.id"><span>Whoperative</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let item of items ;trackBy: trackId">
                    <td><a [routerLink]="['/item', item.id, 'view']">{{ item.id }}</a></td>
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.itemWeight }}</td>
                    <td>{{ item.itemVolume }}</td>
                    <td>{{ item.location }}</td>
                    <td>
                        <div *ngIf="item.itemlist">
                            <a [routerLink]="['/item-list', item.itemlist?.id, 'view']" >{{ item.itemlist?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="item.client">
                            <a [routerLink]="['/client', item.client?.id, 'view']" >{{ item.client?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="item.whoperative">
                            <a [routerLink]="['/whoperative', item.whoperative?.id, 'view']" >{{ item.whoperative?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/item', item.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/item', item.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(item)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
