<div>
    <h2 id="page-heading">
        <span>Item Lists</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-list" [routerLink]="['/item-list/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Item List
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="itemLists?.length === 0">
        <span>No itemLists found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="itemLists && itemLists.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemCount"><span>Item Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="listPurpose"><span>List Purpose</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="listPurpose"><span>.</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderreceipt.id"><span>Orderreceipt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemList of itemLists ;trackBy: trackId">
                    <td><a [routerLink]="['/item-list', itemList?.id, 'view']">{{ itemList.id }}</a></td>
                    <td>{{ itemList.itemCount }}</td>
                    <td>{{ itemList.listPurpose }}</td>
                    <td>
                        <div>
                            <a [routerLink]="['/list-item/bylist', itemList?.id]">
                                View items
                            </a>
                            <a  [routerLink]="['list-item', 'new']">
                                Add new Items
                            </a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="itemList.orderreceipt">
                            <a [routerLink]="['/order-receipt', itemList.orderreceipt?.id, 'view']" >{{ itemList.orderreceipt?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/item-list', itemList.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/item-list', itemList.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(itemList)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="itemLists && itemLists.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
