<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itemList">
            <h2><span>Item List</span> {{ itemList.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Item Count</span></dt>
                <dd>
                    <span>{{ itemList.itemCount }}</span>
                </dd>
                <dt><span>List Purpose</span></dt>
                <dd>
                    <span>{{ itemList.listPurpose }}</span>
                </dd>
                <dt><span>Orderreceipt</span></dt>
                <dd>
                    <div *ngIf="itemList.orderreceipt">
                        <a [routerLink]="['/order-receipt', itemList.orderreceipt?.id, 'view']">{{ itemList.orderreceipt?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item-list', itemList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
