<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-item-list-heading">Create or edit a Item List</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_itemCount">Item Count</label>
                    <input type="number" class="form-control" name="itemCount" id="field_itemCount"
                           formControlName="itemCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_listPurpose">List Purpose</label>
                    <select class="form-control" name="listPurpose" formControlName="listPurpose" id="field_listPurpose">
                        <option value="ACCEPT">ACCEPT</option>
                        <option value="RETURN">RETURN</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_orderreceipt">Orderreceipt</label>
                    <select class="form-control" id="field_orderreceipt" name="orderreceipt" formControlName="orderreceipt">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderReceiptOption.id === editForm.get('orderreceipt')!.value?.id ? editForm.get('orderreceipt')!.value : orderReceiptOption" *ngFor="let orderReceiptOption of orderreceipts; trackBy: trackById">{{ orderReceiptOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
