<div class="row">
   

    <div class="col-md-9">

        <div [ngSwitch]="isAuthenticated()">
            <!--<div class="alert alert-success" *ngSwitchCase="true">
                <div *jhiHasAnyAuthority="'ROLE_MANAGER'">
                   <a routerLink="order-receipt" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                       <span>View all orders</span>
                   </a>
                </div>
            </div>-->

            <div *ngSwitchCase="true">
                <div *jhiHasAnyAuthority="'ROLE_USER'">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">My Orders</h4>
                          <p class="card-text"><a routerLink="order-receipt" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <span>View my orders</span>
                        </a></p>
                        <p class="card-text"><a routerLink="/order-receipt/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <span>Add new order</span>
                        </a></p>
                        </div>
                      </div>
                    
                </div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
